# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Processed/generated data
data/processed/

# Raw datasets
data/raw/

# Ignore all CSVs by default
*.csv

# Allow deployment sample CSVs
!data/deploy/
!data/deploy/*.csv

# Streamlit cache + secrets
.streamlit/
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Ignore all model artifacts by default
*.pkl
*.joblib

# Allow deployable XGBoost model
!models/xgb_model.pkl

# Environment variables
.env